body{
    background-image:url(pic.jpeg);
}
.hero{
    width: 100%;
    height: 300vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), #0f1011),  url(pic.jpeg);
    background-position: center;
    background-size: cover;
}
.conteneur{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  1fr;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px  100px  100px  100px  100px   ;
   padding: 20px;
  
   
   
}
.une{
    
    grid-column: 1/3;
   grid-row: 1/6;
   background-color:rgba(40, 23, 67, 0.3);
   backdrop-filter: blur(5px) contrast(150%);
   border-radius:  35px 0 0 35px ;
}
   
   

.deux{
    grid-column: 3/5;
    grid-row: 1/6;
    background-color:rgba(40, 23, 67, 0.3);
     backdrop-filter: blur(5px) contrast(150%);
     border-radius: 0 35px  35px 0;
     padding: 20px;
     padding-top: 10px;
    
}

.trois{
    margin-top: 60px;
    grid-column: 4/6;
    grid-row: 6/12;
  
     background-color:rgba(40, 23, 67, 0.3);
     backdrop-filter: blur(5px) contrast(150%);
     border-radius: 0 35px  35px 0;
    
}
h1, h2 ,h3 ,h4, h5, h6 {
    color: white;
}
.etoile{
    display: flex;
}
.quat{
    padding: 10px;
    margin-top: 60px;
    grid-column: 2/4;
    grid-row: 6/12;
   
     background-color:rgba(40, 23, 67, 0.3);
     backdrop-filter: blur(5px) contrast(150%);
     border-radius:  35px 0 0 35px ;
}
.cinq{
    grid-column: 1/3;
    grid-row: 13/18;
    background-color:rgba(40, 23, 67, 0.3);
    backdrop-filter: blur(1px) contrast(150%);
    border-radius:  35px 0 0 35px ;
}
.six{
    padding: 20px;
    grid-column: 3/5;
    grid-row: 13/18;
    background-color:rgba(23, 9, 64, 0.1);
    backdrop-filter: blur(1px) contrast(150%);
    border-radius: 0 35px  35px 0;
}


#prodeatails .single-pro-image{

    width: 100%;
    
   
    margin: right 50px; 

}

.small-img-group{
    display: flex;
    justify-content: space-between;
   
}
#MainImg{
   height: 300px;
}

.small-img{
    height: 87px;

}
#MainImg{
    border-radius: 35px;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    height: 100px;
}

.room__card img {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-40%);
    position: relative;
    z-index: 1;
    width: 260px;
    height: 180px;
  }
 
  .room__card__details {
    margin-inline: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color:rgba(235, 235, 235, 0.683);
    backdrop-filter: blur(5px) contrast(150%);
    transform: translateY(-50%);
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    height: 260px;
    padding-top:  70px;
    padding-bottom: 2x;
    height: 170px;

   position:relative;
    z-index:index ;
  }
  .room__card {
    position: relative;}
  
    .room__card__details h4 {
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
        font-weight: 800;
        font-family: var(--header-font);
        color: var(--text-dark);
      }

      .room__card__details p {
        color: var(--text-light);
      }
      
      .room__card__details h3 {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--secondary-color);
      }
      
      .room__card__details h3 span {
        font-size: 0.8rem;
      }
     
      .room__grid {
        max-width: 1500px;
        margin-inline: auto;
        margin-top: 4rem;
       
       
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
       
       padding: 20px;
       gap: 10px; 
      }
    
    
    .one{
        grid-column: 1/2; 
    }
    .two{
        grid-column: 2/3;
    }
    .three{
        grid-column: 3/4;
    }
.titre{
    text-align: center;
}
    .button-reservation {
        background-color: #432653;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 6px;
        transition: background-color 0.3s;
    }
    
    .button-reservation:hover {
        background-color: #2980b9;
    }
    .section__header{
        text-align: center;
    }